###Task01

#ID: SIRSS1040

#Name: Sailesh Nair

1.
5 5 5 5 5  
5 5 5 5  
5 5 5  
5 5  
5

In [1]:
for num in range (5,0,-1):
    print('5 '*num)

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

2. 
0 1 2 3 4 5  
0 1 2 3 4  
0 1 2 3  
0 1 2  
0 1

In [2]:
for num in range (5,0,-1):
    for i in range (0,num+1):
        print(i, end= " ")
    print('')

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

3. 
1 
3 3  
5 5 5  
7 7 7 7  
9 9 9 9 9

In [3]:
for num in range (1,6,1):
    for i in range (1,num+1):
        print(2*num-1, end= " ")
    print('')

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

4. 
1  
2 1  
3 2 1  
4 3 2 1  
5 4 3 2 1

In [4]:
for num in range (0,6,1):
    for i in range (num,0,-1):
        print(i, end= " ")
    print('')

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

5.
1 
3 2 
6 5 4 
10 9 8 7

In [5]:
start = 1
stop = 2
currentNumber = stop
for row in range(2, 6):
    for col in range(start, stop):
        currentNumber -= 1
        print(currentNumber, end=' ')
    print('')
    start = stop
    stop += row
    currentNumber = stop

1
3 2
6 5 4
10 9 8 7

6. 
1  
1 1  
1 2 1  
1 3 3 1  
1 4 6 4 1  
1 5 10 10 5 1  
1 6 15 20 15 6 1

In [6]:
from math import factorial
n = 7
for i in range(n):
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

7. 
1 2 3 4 5  
2 2 3 4 5  
3 3 3 4 5  
4 4 4 4 5  
5 5 5 5 5

In [7]:
n=5
for i in range(1, n + 1):  
    for j in range(1, n + 1): 
        if j <= i:  
            print(i, end=' ')  
        else:  
            print(j, end=' ')  
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

8. 
1  
2 4  
3 6 9  
4 8 12 16  
5 10 15 20 25  
6 12 18 24 30 36  
7 14 21 28 35 42 49  
8 16 24 32 40 48 56 64

In [8]:
n=8
for i in range(1, n + 1):  
    for j in range(1, i+1): 
        print(j*i,end=' ')
    print('')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

9. 
 * * * * * *  
 * * * * *  
 * * * *  
 * * *  
 * *  
 *

In [9]:
n=6
for num in range (n,0,-1):
    print('* '*num)

* * * * * *
* * * * *
* * * *
* * *
* *
*

10.
 *  
 * *  
 * * *  
 * * * *  
 * * * * *  
 * * * * * *  
 * * * * * * *

In [10]:
n=7
for num in range (n+1):
    print('* '*num)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

11. 
*  
* *  
* * *  
* * * *  
* * * * *  
* * * * * *  
* * * * * *  
* * * * *  
* * * *  
* * *  
* *  
*

In [11]:
n=6
for num in range (n+1):
    print('* '*num)
#print('')
for num in range (n,0,-1):
    print('* '*num)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

12. 
*  
* *  
* * *  
* * * *  
* * * * *  
* * * *  
* * *  
* *  
*

In [12]:
n=5
for num in range (n):
    print('* '*num)
for num in range (n,0,-1):
    print('* '*num)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

13. 
 *  
 * *  
 * * *  
 * * * *  
* * * * *  
 * * * *  
 * * *  
 * *  
 *

In [13]:
n=5
for num in range (1,n):
    print(' *'*num)
print('* '*n)
for num in range (n-1,0,-1):
    print(' *'*num)

 *
 * *
 * * *
 * * * *
* * * * *
 * * * *
 * * *
 * *
 *

14.
* * * * *  
* * * *  
* * *  
* *  
*  
*  
* *  
* * *  
* * * *  
* * * * *

In [14]:
n=5
for num in range (n,0,-1):
    print('* '*num)
for num in range (1,n+1):
    print('* '*num)

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

15.
**************** 
*******__******* 
******____****** 
*****______***** 
****________**** 
***__________*** 
**____________** 
*______________*

In [15]:
n=8
for i in range(n,0,-1):
    print('*'*i, end ='')
    j=n-i
    print('_'*j*2, end ='')
    print('*'*i)
print('')

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*