In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib as mpl

In [2]:
df = pd.read_csv("./dataset/Salary_Data.csv")

In [3]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [5]:
X=df[['YearsExperience']].values
Y=df[['Salary']].values

In [6]:
print(X.shape,Y.shape)

(30, 1) (30, 1)

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=0)

In [8]:
print(x_train.shape,y_train.shape)

(21, 1) (21, 1)

In [9]:
class SLR:
    def __init__(self,learning_rate=0.001,iterations=1000):
        self.learning_rate=learning_rate
        self.iterations=iterations
        self.slope = None
        self.intercept= None

    def fit(self,X,y):
        n = X.shape[0]
        # init parameters
        self.slope = np.zeros((X.shape[1],1))
        self.intercept = 0
        
        # gradient descent
        for i in range(self.iterations):
            y_hat = np.dot(X, self.slope) + self.intercept
            # calculate gradients
            dw = (1 / n) * np.dot(X.T, (y_hat - y))
            db = (1 / n) * np.sum(y_hat - y)

            # update parameters
            self.slope -= self.learning_rate * dw
            self.intercept -= self.learning_rate * db


    def predict(self,X):
        y_hat = np.dot(X, self.slope) + self.intercept
        return y_hat

In [10]:
reg=SLR(learning_rate=0.03)
reg.fit(x_train,y_train)

In [11]:
reg.predict([[16]])

array([[176611.32593078]])

In [12]:
y_pred=reg.predict(x_test)

In [13]:
def MSE(y_act,y_hat):
    return np.mean((y_act-y_hat)**2)

In [14]:
MSE (y_pred,y_test)

23316577.638351798